:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ececec;
}

.card{
    width: 50em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
}

.title
{
    display: flex;
    justify-content: center;
}