version: "3.7"
services:
    redis:
        image: redis:6.2.5
        ports:
            - 6379:6379
        networks:
            - back
    api:
        build:
            context: .
            dockerfile: Cluster.API/dockerfile
        environment:
            SERVER: api
        ports:
            - 5000:80
        networks:
            - back
    web:
        build:
            context: ./Cluster-Web
            dockerfile: dockerfile
        ports:
            - 4200:80
        networks:
            - front
networks:
    back:
        driver: bridge
    front:
        driver: bridge